<div class="auth-container">
  <div>
    <div class="logo"><img src="logo.svg" alt="Личная библиотека"></div>
    <div class="auth-card">
        <h2 class="m-b-16">Вход в систему</h2>
        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        required
                        type="email"
                        id="email"
                        formControlName="email"
                        placeholder="user@example.com"
                    />
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Пароль</mat-label>
                    <input
                        matInput
                        required
                        [type]="hide() ? 'password' : 'text'"
                        id="password"
                        formControlName="password"
                        placeholder="••••••"
                    />
                    <button
                        matIconButton
                        matSuffix
                        type="button"
                        (click)="clickEvent($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()"
                    >
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <button
                matButton="filled"
                type="submit" 
                class="btn-submit" 
                [disabled]="loginForm.invalid || isLoading"
            >
            {{ isLoading ? 'Вход...' : 'Войти' }}
            </button>
        </form>

        <div class="auth-footer m-t-24">
            <p>Нет аккаунта? <a routerLink="/register">Зарегистрироваться</a></p>
        </div>
    </div>
  </div>
</div>