.pagination-container {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--n-prim-border-color);
  
  .pagination-info {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: var(--n-sec-txt-ic-color);
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
    .pagination-buttons {
      display: flex;
      gap: 0.3rem;
      flex-wrap: wrap;

      .pagination-dots {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 36px;
        height: 36px;
        color: var(--n-sec-txt-ic-color);
      }

      .pagination-page {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 600;
        display: block;
      }
    }
  }
}

@media (max-width: 768px) {
  .pagination-container {
    .pagination-controls {
      flex-direction: column;
      align-items: stretch;
      
      .items-per-page {
        justify-content: center;
      }
      
      .pagination-buttons {
        justify-content: center;
      }
    }
  }
}