@if (paginationState.totalPages > 1 || paginationState.totalItems > minItemsPerPage) {
<div class="pagination-container">
  <div class="pagination-info">
    Показано {{ getStartIndex() }} - {{ getEndIndex() }} 
    из {{ paginationState.totalItems }} книг
  </div>
  
  <div class="pagination-controls">
    <div class="pagination-buttons">
      <button
        matIconButton         
        [disabled]="paginationState.currentPage === 1"
        (click)="onPageChange(1)">
        <mat-icon>first_page</mat-icon>
      </button>
      <button
        matIconButton         
        [disabled]="paginationState.currentPage === 1"
        (click)="onPageChange(paginationState.currentPage - 1)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      
      @for (page of pages; track page) {
        @if (isDot(page)) {
            <span class="pagination-dots">...</span>
        } @else {          
           <button  
            matIconButton           
            [class.active]="page === paginationState.currentPage"
            (click)="onPageChange(page)">
            <span class="pagination-page">{{ page }}</span>
           </button>
        }
    }
      
      <button 
        matIconButton         
        [disabled]="paginationState.currentPage === paginationState.totalPages"
        (click)="onPageChange(paginationState.currentPage + 1)">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button
        matIconButton         
        [disabled]="paginationState.currentPage === paginationState.totalPages"
        (click)="onPageChange(paginationState.totalPages)">
        <mat-icon>last_page</mat-icon>
      </button>
    </div>
  </div>
</div>
}
