<div class="book-card">
    <div class="book-header">
        <div class="d-flex justify-space-between gap-8">
            <h3 class="book-title">{{ book().title }}</h3>
            <div class="book-actions">
                <button matIconButton [routerLink]="['/book/edit', book().id]" matTooltip="Редактировать">
                    <mat-icon>edit</mat-icon>
                </button>
                <button matIconButton (click)="deleteBook.emit()" matTooltip="Удалить">
                    <mat-icon>delete</mat-icon>
                </button>
                @if (isReaded()) {   
                    <button matIconButton (click)="moveToWishlist.emit()" matTooltip="В список желаний">
                        <mat-icon>favorite</mat-icon>
                    </button>
                } @else {
                    <button matIconButton (click)="moveToRead.emit()" matTooltip="Прочитана">
                        <mat-icon>done_all</mat-icon>
                    </button>
                }
            </div>
        </div>
        <p class="book-author">{{ book().author }}</p>
        @if (book().year) {
            <p class="book-year">Год прочтения: {{ book().year }}</p>
        }
    </div>
    
    @if (book().rating) {
    <div class="book-rating">
        @for (star of getStarArray(book().rating); track star) {
        <mat-icon>star</mat-icon>
        }
        <span class="rating-value">({{ book().rating }})</span>
    </div>
    }
    
    @if (book() && book().personalReview) {
    <div class="book-review">
        <div class="text-container" [class.expanded]="isExpanded">
            <span [innerHTML]="displayText"></span>
            
            @if (isTruncated) {
                @if (!isExpanded) {
                    {{ '...'}}
                    <button 
                        class="expand-btn"
                        (click)="toggleExpand()"
                        (keydown.enter)="toggleExpand()"
                        (keydown.space)="toggleExpand()"
                        tabindex="0"
                        [attr.aria-expanded]="isExpanded"
                        aria-label="Развернуть текст">
                        {{ 'Развернуть' }}
                    </button>
                } @else {
                    <button 
                        class="collapse-btn"
                        (click)="toggleExpand()"
                        (keydown.enter)="toggleExpand()"
                        (keydown.space)="toggleExpand()"
                        tabindex="0"
                        aria-label="Свернуть текст">
                        {{ 'Свернуть' }}
                    </button>
                }
            }
        </div>
    </div>
    }
    
    
</div>
