<div class="wishlist-container container">
  <div class="header d-flex justify-space-between align-items-center m-b-24">
    <h2>Список желаемых книг</h2>
    <button class="hidden-xs" matButton="elevated" routerLink="/book/add">Добавить книгу</button>
    <button class="hidden-xl" matMiniFab routerLink="/book/add">
      <mat-icon>library_add</mat-icon>
    </button>
  </div>

  @if (loading$ | async) {
    <div class="loading-overlay">
      <mat-spinner></mat-spinner>
      <p>Загрузка списка желаний...</p>
    </div>
  } @else {
    @if ((wishlistBooks$ | async)?.length === 0) {
      <div class="empty-state">
        <p>Список желаний пуст</p>
      </div>
    }
    <div class="books-grid">
      @for (book of (paginatedBooks$ | async)?.paginatedItems; track book) {
        <app-book-card
          [book]="book"
          [isReaded]="false"
          (deleteBook)="openDeleteDialog(book.id)"
          (moveToRead)="moveToRead(book.id)"
        ></app-book-card>
      }
    </div>
    @if ((paginatedBooks$ | async)?.paginationState; as paginationState) {
      <app-pagination 
        [paginationState]="paginationState"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)">
      </app-pagination>
    }
  }
</div>